*.swp
*.pyc
.DS_Store
.P
settings_local.py
urls_local.py
media/
.idea
logs/
catalogue_9_23.json
.pydevproject
.settings
mytest.py
.settings/org.eclipse.core.resources.prefs
r_c_msg.txt
r_msg.txt
received_buf.txt
received_msg.txt
send_buf.txt
.pid
